.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 4rem auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-view {
  max-width: 450px;
}

.card-header {
  height: 30%;
  background: #48c7b4;
  color: #ffffff;
  text-align: center;
}

.card-header p {
  font-size: 20px;
}

.container {
  padding: 4px 16px;
}

.btn-goback {
  background-color: #666;
  width: 5rem;
  margin-bottom: 1.5rem;
}